#map{
    background: #28292e;
}
.leaflet-container .leaflet-control-attribution,.leaflet-bar a{
    background: #1c1d20;
}
.leaflet-bar, .leaflet-bar:hover{
    background: #1c1d20;
}
.leaflet-touch .leaflet-control-layers{
    border:none
}
.leaflet-container a {
    color: #b39f52;
}
.leaflet-control-attribution, .leaflet-control-scale-line {
    padding: 0 5px;
    color: #dddddd;
}
.leaflet-right .leaflet-control{
    margin-right: 0;
}
.leaflet-top .leaflet-control{
    margin-top: 0;
}
.leaflet-control-layers-expanded {
    padding: 5px 15px 5px 10px;
    color: #d9dbda;
    background: #1c1d20;
}
label{
    font-size: 1.2em;
    margin-bottom: 2px;
}
.leaflet-tooltip{
    background: none;
    border:none;
    color:white;
    box-shadow: none;
    font-size: 1.1em;
    text-shadow:
    -1px -1px 0 rgb(14, 13, 13),  
     1px -1px 0 rgb(14, 13, 13),
     -1px 1px 0 rgb(14, 13, 13),
      1px 1px 0 rgb(14, 13, 13);
}